.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4e4949;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App_Home_Default_with_search_result {
  position: relative;
  width: 1500px;
  height: 1800px;
  background: #555555;
}

.RectangleCopy2 {
  position: absolute;
  width: 1200px;
  height: 1717px;
  left: 58px;
  top: 54px;
  background: #232323;
}

