.Header {
    position: absolute;
    width: 1200px;
    height: 396px;
    left: 58px;
    top: 54px;
}

.labelFindText{
    position: absolute;
    width: 392px;
    height: 49px;
    left: 10px;
    top: 155px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.SearchInput{
    position: absolute;
    width: 713px;
    height: 57px;
    left: 10px;
    top: 242px;
    
    background: rgba(50, 50, 50, 0.8);
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.SearchBtn{
    position: absolute;
    width: 233px;
    height: 57px;
    left: 760px;
    top: 242px;

    background: #F65261;
    color: #FFFFFF;
    border-radius: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.rectangel1{
    position: absolute;
    width: 1200px;
    height: 396px;
    left: 58px;
    top: 54px;

    background: linear-gradient(0deg, #000000, #000000);
}

.bitmapimageback{
    position: absolute;
    width: 1200px;
    height: 500px;
    left: -60px;
    top: -48px;
    
    background-image: url(./Bitmap.png),url(./Bitmap.png);
    background-blend-mode: overlay;
    opacity: 0.3;
    
}

.addmoviesbtn{
    position: absolute;
    width: 177px;
    height: 46px;
    left: 580px;
    top: 74px;
    color: #F65261;
    
    background-color: rgba(96, 96, 96, 0.68);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;

    background-blend-mode: lighten;

}

.deletemoviesbtn{
    position: absolute;
    width: 177px;
    height: 46px;
    left: 960px;
    top: 74px;
    color: #F65261;
    
    background-color: rgba(96, 96, 96, 0.68);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;

    background-blend-mode: lighten;

}

.editmoviesbtn{
    position: absolute;
    width: 177px;
    height: 46px;
    left: 772px;
    top: 74px;
    color: #F65261;
    
    background-color: rgba(96, 96, 96, 0.68);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;

    background-blend-mode: lighten;
}



/* 39 movies found */

.moviesfound{
    position: absolute;
    width: 166px;
    height: 24px;
    left: 5px;
    top: 547px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}
.rectangle9{
    position: absolute;
    width: 1202px;
    height: 10px;
    left: -59px;
    top: 450px;

    background: #888888;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.Sortby{
    position: absolute;
    width: 76px;
    height: 20px;
    left: 850px;
    top: 480px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.888889px;
    text-transform: uppercase;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.6;
}

.Releasedate{
   
    position: absolute;
    height: 20px;
    width:140px;
    left: 950px;
    top: 480px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF; 
}


.all{
    position: absolute;
    width: 31px;
    height: 20px;
    left: 5px;
    top: 480px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}
.Documentary{
    position: absolute;
    width: 133px;
    height: 20px;
    left: 50px;
    top: 480px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;

    cursor: pointer;

}

.Comedy{
    position: absolute;
    width: 74px;
    height: 20px;
    left: 190px;
    top: 480px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
}
.Horror{
    position: absolute;
    width: 75px;
    height: 20px;
    left: 280px;
    top: 480px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    cursor: pointer;
}
.Crime{
    position: absolute;
    width: 55px;
    height: 20px;
    left: 370px;
    top: 480px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
}

.moviediv{
    position: absolute;
    display: flex !important;
    left: 10px;
    top: 600px; 
    flex-wrap: wrap;
}
.movietiles{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    width : 25%;
}
.movietilestyle{
    width : 33.333%;
    min-width: 250px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.movietiles .movietilestyle img{
    display: block;
    width: 90%;
}
.rectangle8{
    Width : 100px;
    Height : 18px;
    opacity: 0.5;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;

}
.movietiles {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.7;
}

.movietilestyle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 50;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.7;
}